# Игнорирование файлов конфигурации
src/main/resources/database.properties
src/main/resources/hibernate.properties

# Игнорирование файлов в target
target/classes/database.properties
target/classes/hibernate.properties
target/mySpring_mvc_project/WEB-INF/classes/database.properties
target/mySpring_mvc_project/WEB-INF/classes/hibernate.properties

.idea/
.vscode/

target/
build/
bin/

*.log

*.tmp
*.cache

.DS_Store
Thumbs.db
